* {
    /* color: red;
    font-size: 24px; */
}

body {
    transition: all .5s ease;
    font-family: 'Quattrocento', serif;
}

.selected-user {
    border: 1px double rgb(52, 39, 70);
    outline: blue;
    /* border-radius: 15%; */
    box-shadow: 0 0 5px rgb(162, 162, 189);

}

.selected-description {
    padding-left: 8px;
    padding-bottom: 4px;
    width: 250px;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form-position {
    position: relative;
}

.form-size {
    width: 300px !important;

}

.search-icon {
    position: absolute;
    top: 6px;
    right: 25px;
    opacity: .4;
}

.pointer {
    cursor: pointer;
}

.menu-title {
    font-weight: bold;
    outline: none !important;
    border: none;
}